@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family:  'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
:root{
    --main-color: red;
    --text-color: black;
    --bg-color: yellow;
}
section{
    padding: 4rem 0 2rem;
}
img{
    width: 100%;
}
body {
    color: var(--text-color)
}
.container{
    max-width: 1086px;
    margin-left: auto;
    margin-right: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
    justify-content: center;
    align-items: center;
}
.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}
.logo span{
    color: var(--main-color);
   position: relative;
   right: 300px;
}
.navbar{
    display: flex;
    column-gap: 2rem;
    align-items: center;
}
.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
   justify-content: space-between;
}
.navbar a:hover
,.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color) ;
}
body, h1, p, input, button {
    margin: 0;
    padding: 0;
}
.search-container {
    margin: 20px;
    display: flex;
    align-items: center;
}
.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: box-shadow 0.3s ease;
}
.search-box:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}
.search-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-button:hover {
    background-color: #555;
}
.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(./img/Background-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}
.home-text{
    padding-left: 130px;
}
.home-text h1{
    font-size: 2.4rem;
}
.home-text span{
    color: var(--main-color);
}
.home-text p{
    font-size: 0.938rem;
    font-weight: 300;
    margin: 0.5rem 0 1.2rem;
}
.btn{
    padding: 10px 22px;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.btn:hover{
    background: red;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);
}
.heading p{
    font-size: 0.938rem;
    font-weight: 300;
}
.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    object-fit: cover;
}
.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
    object-fit: cover;
}
.cars-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.cars-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.cars-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-weight: 400;
    font-size: 1rem;
    background: var(--bg-color);
    padding: 8px;
    border-radius: 0.5rem;
}
.cars-container .box:hover h2{
    background: var(--main-color);
    color: var(--bg-color);
}
.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
.about-img{
    flex: 1 1 21rem;
    object-fit: cover;
    margin-top: 5%;
}
img{
    height: 55vh;
    width: 100%;
}
.about-text{
    flex: 1 1 21rem;
}
.about-text span{
    font-weight: 500;
    color: var(--main-color);
}
.about-text h2{
    font-size: 1.2rem;
}
.about-text p{
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}
h3{
    font-size: 20px;
}
.parts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.parts-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;
}
.parts-container .box img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}
.parts-container .box h4{
    font-size: 1.1rem;
    font-weight: 600;
}
.parts-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}
.parts-container .box .bx{
    color: var(--main-color);
    margin: 0.8rem 0;
}
.parts-container .box .btn{
    max-width: 120px;
}
.parts-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
}
.parts-container .box .details:hover{
    color: var(--main-color);
    text-decoration: underline;
}
h2{
    text-align: center;
    justify-content: center;
}
.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.blog-container .box{
    flex: 1 1 13rem;
    padding: 20px;
}  
.blog-container .box:hover{
    background: #f6f6f6;
}
.blog-container .box span{
    font-size: 0.8rem;
    color: var(--main-color);
}
.blog-container h3{
    font-size: 1.2rem;
}
.blog-container .box p{
    font-size: 0.938rem;
    margin: 4px 0;
}
.blog-container .box .blog-btn{
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
}
.blog-container .box .blog-btn .bx{
    font-size: 20px;
}
.blog-container .box .blog-btn:hover{
    color: var(--main-color);
    column-gap: 0.7rem;
    transition: 0.4s;
}
.footer{
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.footer-container .logo{
    color: var(--bg-color);
    margin-bottom: 1rem;
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}
.social a:hover{
    color: var(--main-color);
}
.footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.footer-box a, 
.footer-box p{
    color: #818181;
    margin-bottom: 10px;
}
.footer-box a:hover{
    color: var(--main-color);
}
.copyright{
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
}